DRONEOPS_HOST=0.0.0.0
DRONEOPS_PORT=8021
DRONEOPS_WEB_DIR=/opt/droneops/web
DRONEOPS_SSL_KEY=/var/lib/droneops/certs/key.pem
DRONEOPS_SSL_CERT=/var/lib/droneops/certs/cert.pem
DRONEOPS_WIFI_SSID=DRONEOPS
DRONEOPS_WIFI_PASSWORD=droneops5
DRONEOPS_WIFI_IFACE=
DRONEOPS_HOSTNAME=droneops
DRONEOPS_QR_URL=https://droneops.local:8021/
DRONEOPS_UPDATE_ENABLED=0
DRONEOPS_UPDATE_REPO=git@github.com:jpereiratrindade/droneops.git
DRONEOPS_UPDATE_REQUIRE_CI=0
DRONEOPS_UPDATE_RUN_TESTS=1
DRONEOPS_GITHUB_TOKEN=
